@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #17181f;
    font-family: 'Courier New', Courier, monospace;
}

header{
    background-image: linear-gradient(to right, #6c72cb, #cb69c1);
}

header > h1{
    background-image: linear-gradient(to right, #6c72cb, #cb69c1);
    color: #EEEDF0;
    text-shadow: 1px 1px 1px #17181f;
    text-align: center;
    box-shadow: 1px 1px 1px darkslategrey;
}

header a{
    text-decoration: none;
    color: #EEEDF0;
    text-shadow: 1px 1px 1px #17181f;
}

header a:hover{
    color: #57BE6c;
}

main > section{
    color: #17181f;
    padding: auto;
    margin: auto;
    text-indent: 20px;
    position: relative;
    background-color: #EEEDF0;
}

#bg{
   width: 100%; 
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(0,0,0,.8);
   position: fixed;
   display: none;
}

#bg:target{
    display: block;
}

#bg:target ~ .box{
    top: 150px;
    transition: all .3s;
    transition-delay: .2s;
}

.box{
    width: 720px;
    height: 405px;
    position: absolute;
    margin-left: -360px;
    left: 50%;
    top: -450px;
}

.box img{
    width: 100%;
    position: absolute;
}

#close{
    color: #ffff;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 35px;
    position: absolute;
    background-color: #0000;
    width: 40px;
    height: 40px;
    text-align: center;
    right: 0;
}

#close:hover{
    opacity: .6;
}

footer{
    background-image: linear-gradient(to right, #6c72cb, #cb69c1); 
    text-align: center; 
}

footer p{
    color: #EEEDF0;
    text-shadow: 1px 1px 1px #17181f;
}

footer a{
    color: #EEEDF0;
    text-shadow: 1px 1px 1px #17181f;
    text-decoration: none;
}

footer a:hover{
    color: #57BE6c;
}
